@model Nop.Plugin.Tax.Avalara.Models.Configuration.ConfigurationModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="@Model.TaxTransactionLogSearchModel.CreatedFrom" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="@Model.TaxTransactionLogSearchModel.CreatedFrom" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="@Model.TaxTransactionLogSearchModel.CreatedTo" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="@Model.TaxTransactionLogSearchModel.CreatedTo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="button" id="search-log" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="log-grid"></div>
            
            <script>
                $(document).ready(function() {
                    $("#log-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("LogList", "TaxTransactionLog"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            CreatedFrom: $('#@Html.IdFor(model => model.TaxTransactionLogSearchModel.CreatedFrom)').val(),
                                            CreatedTo: $('#@Html.IdFor(model => model.TaxTransactionLogSearchModel.CreatedTo)').val(),
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                this.cancelChanges();
                            },
                            pageSize: @(Model.TaxTransactionLogSearchModel.PageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(Model.TaxTransactionLogSearchModel.AvailablePageSizes)],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        toolbar: [{
                            template: '<a onclick="clearLog()" class="btn bg-red"><i class="fa fa-trash-o"></i>@T("Plugins.Tax.Avalara.Log.ClearLog")</a>'
                        }],
                        scrollable: false,
                        columns: [
                        {
                            field: "StatusCode",
                            title: "@T("Plugins.Tax.Avalara.Log.StatusCode")",
                        }, {
                            field: "Url",
                            title: "@T("Plugins.Tax.Avalara.Log.Url")",
                        }, {
                            field: "CreatedDate",
                            title: "@T("Plugins.Tax.Avalara.Log.CreatedDate")",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.View")",
                            width: 50,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a class="btn btn-default" href="@(Url.Action("View", "TaxTransactionLog"))/#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                        }
                        ]
                    });

                     $('#search-log').click(function() {
                        var grid = $('#log-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        return false;
                    });
                });

                function clearLog() {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@(Url.Action("ClearAll", "TaxTransactionLog"))',
                        success: function () {
                            var grid = $('#log-grid').data('kendoGrid');
                            grid.dataSource.page(1);
                        }
                    });
                }
            </script>
        </div>
    </div>
</div>